<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8"><title>Test Site</title></head><body>
<div class="h1">
    This is an example.
</div>
<div>

<span>This should be here</span>
A repeated block:
<div>Hi. My name is Bob. I am 56 years old.<span>I am over 50.</span>
</div><div>Hi. My name is Mary. I am 40 years old.
</div><div>Hi. My name is Steve. I am 51 years old.<span>I am over 50.</span>
</div>
<p>Oh look, it's a pineapple!</p>
<p><h3>I've arrived via k-html</h3></p>
</div>
</body></html>
